.nav {
  height: 150px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 40px;
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  justify-content: center;
}

.div-img {
  display: flex;
  width: 490px;
  height: 150px;
}

.imagen-inicio {
  height: 100%;
  width: 100%;
  object-fit: scale-down;
}

.container {
  display: grid;
  /* border: 5px solid black; */
  margin: 10px 1vw;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-auto-rows: 420px;
  justify-content: space-evenly;
  grid-gap: 30px;
  padding: 20px;
}

.card {
  /* border: 2px solid black; */
  /* background-color: #bfde42; */
  background-image: radial-gradient(white 10%, #bfde42 70%);
  position: relative;
  height: 380px;
  width: 300px;
  border-radius: 30px;
  box-shadow: 10px 10px 15px 0 black;
}

.card-name {
  font-family: 'Permanent Marker', cursive;
  margin: 0px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-container {
  position: relative;
}

.card-img {
  width: 100%;
  height: 300px;
  object-fit: contain;
  position: absolute;
  transition: opacity, 0.3s;
  z-index: 100;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  
}

.card-info {
  text-align: center;
  position: relative;
  top: 40px;
  z-index: 50;
  font-size: 20px;
}

.info {

}

.buttons {
  margin-top: 10px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: center;
}

.button {
  margin: 0px 10px;
  height: 35px;
  width: 100px;
  font-size: 15px;
  border-radius: 5px;
  background-color: #bfde42;
}

.right {
  height: 50px;
  width: 120px;
  margin-left: 20px;
}

.left {
  height: 50px;
  width: 120px;
  margin-right: 20px;
}

.card-img:hover {
  opacity: 0;
  
}

.imagen-inicio:hover {
  cursor: pointer;
}

/* .button:active {
  background-color: #a5be3d;
} */


/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
