.nav {
  background-color: rgb(255, 255, 255);
  height: 60px;
  text-align: center;
}

.imagen-inicio {
  height: 60px;
}

.container {
  display: grid;
  text-align: center;
  border: 5px solid black;
  margin-left: 5vw;
  margin-right: 5vw;
  grid-template-columns: repeat(auto-fill, minmax(300px, 0.9fr));
  grid-gap: 20px;
}

.card {
  border: 2px solid red;

}

.card-name {
  font-family: 'Permanent Marker', cursive;
  margin: 0px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img {
  object-fit: cover;
}

.card-info {

}

.info {

}

.buttons {
  text-align: center;
  list-style: none;
}

.button {
  
}



/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
